@{
    ViewData["Title"] = "Creditos";
}

<section class="contenedor">
    <h1 class="desarrolladores">Desarrolladores</h1>
    <section class="tarjetas_dev">
        <div class="card">    
            <img src="\Imagenes\mati.jpg">
            <div class="info_card">
                <h3 class="nombre"> MATIAS BEBCZUK<h3>
            </div>
        </div> 
        <div class="card">    
            <img src="\Imagenes\ilu.jpg">
            <div class="info_card">
                <h3 class="nombre">ILAN TAUSCHER<h3>
            </div>
        </div>
    </section>
</section>