@{
    ViewData["Title"] = "Home Page";
}

<div class="Index">
    <h1>Bienvenido a PreguntadORT</h1>
    <div class="Logo">
        <img src="\Imagenes\pregunta.png" alt="Logo PreguntadORT">
    </div>

    <!-- Botón para comenzar -->
    <a href='@Url.Action("InicializarJuego", "Home")' class="btn btn-primary">Comenzar</a>
    
    <!-- Botón para tutorial -->
    <a href='@Url.Action("Tutorial", "Home")' class="btn btn-secondary">Tutorial</a>
</div>
