<h1> Categorias </h1>

@foreach(Categorias categorias in ViewBag.Categorias){
        
            <div>
                <p>@categorias.Nombre</p>
            </div>
        
    }
    
<h1> Dificultades </h1>

@{
    foreach(Dificultades dif in ViewBag.dificultad){
        <p>@dif.Nombre</p>
    }
}