<form action='@Url.Action("Jugar","Home")' id="Juego">
    <div class= "verifico">
    <img src = "..\Imagenes\@ViewBag.Mensaje">
    <input type="submit" value="Continuar" class="jugar">
    </div>
</form>