<div class = "pasos">
<h1>Tutorial</h1>
<h2>1)</h2>
<img src="\Imagenes\inicio.jpg">
</div>

<div class = "pasos">
<h2>2)</h2>
<img src="\Imagenes\configurar.jpg">
</div>


<div class = "pasos">
<h2>3)</h2>
<img src="\Imagenes\pregunta.jpg">
</div>

<div class = "pasos">
<h2>4)</h2>
<img src="\Imagenes\respuesta.jpg">
</div>

<div class = "pasos">
<h2>5)</h2>
<img src="\Imagenes\fin.jpg">
</div>