html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header img{
  max-width: 50px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0f7fa;
  color: #333;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

/*Index*/

.Index {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  font-size: 2.5rem;
  color: #0277bd;
  margin-bottom: 30px;
}

.Logo img {
  max-width: 150px;
  margin-bottom: 30px;
}

a.btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

a.btn-primary {
  background-color: #03a9f4;
}

a.btn-secondary {
  background-color: #0288d1;
}

a.btn-primary:hover {
  background-color: #0288d1;
  transform: scale(1.05);
}

a.btn-secondary:hover {
  background-color: #01579b;
  transform: scale(1.05);
}

a.btn:active {
  transform: scale(0.98);
}


/*Footer*/

footer {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  justify-content: center; 
  align-items: center;
  height: 57px;
  bottom: 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
footer div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  color: #000000;
  
}

.footer-texto{
  color: rgb(32, 28, 28);
  font-size: 24px;
}

.container{
  overflow: hidden;
}

/*Creditos*/

.desarrolladores{ 
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.tarjetas_dev {
  width: 90%;
  display: flex;
  justify-content: space-around;  
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 500px;
  height: 800px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.7s;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_card {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #03a9f4;
  border: 2px solid #03a9f4;
  position: absolute;
  bottom: -50%;
  padding: 15px;
  opacity: 0;
  transition: 0.7s;
}

.nombre {
  color: #fff;
  text-align: center;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover > .info_card {
  left: 10px;
  bottom: 10px;
  opacity: 1;
}

.info_card:hover {
  background-color: #fff;
}


.info_card:hover > .nombre {
  color: #03a9f4;
}

/*Inicializar juego

.contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5%;
  background-color:white;
  border-radius: 50px;
}

.buttons_container {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor h1 {
  width: 100%;
  text-align: center;
}

.botonero{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #03a9f4;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton:hover {
  background-color: #0288d1;
  transform: translateY(-2px);
  
}

.boton:active {
  transform: translateY(0);
}

.radio{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8%;
  background-color:blue;
  border-radius: 50px;
  border: 1px solid #000;
}
*/

.contenedor {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio input[type="radio"] {
  margin-right: 10px;
}

.radio p{
  height: 10px;
}

.buttons_container {
  display: flex;
  flex-wrap: wrap;
}

#randomButton {
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#randomButton:hover {
  background-color: #0056b3;
}

#Username {
  width: calc(100% - 10px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botonero{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #03a9f4;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton:hover {
  background-color: #0288d1;
  transform: translateY(-2px);
  
}

.boton:active {
  transform: translateY(0);
}